
@font-face {
    font-family: '29LT Bukra';
    src: url("../fonts/29LTBukra-Bold.eot");
    src: url("../fonts/29LTBukra-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-Bold.woff2") format("woff2"), url("../fonts/29LTBukra-Bold.woff") format("woff"), url("../fonts/29LTBukra-Bold.ttf") format("truetype"), url("../fonts/29LTBukra-Bold.svg#29LTBukra-Bold") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: '29LT Bukrabold';
    src: url("../fonts/29LTBukra-BoldItalic.eot");
    src: url("../fonts/29LTBukra-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-BoldItalic.woff2") format("woff2"), url("../fonts/29LTBukra-BoldItalic.woff") format("woff"), url("../fonts/29LTBukra-BoldItalic.ttf") format("truetype"), url("../fonts/29LTBukra-BoldItalic.svg#29LTBukra-BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: '29LT Bukra';
    src: url('29LTBukra-Black.eot');
    src: url('29LTBukra-Black.eot?#iefix') format('embedded-opentype'),
        url('29LTBukra-Black.woff2') format('woff2'),
        url('29LTBukra-Black.woff') format('woff'),
        url('29LTBukra-Black.ttf') format('truetype'),
        url('29LTBukra-Black.svg#29LTBukra-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  
  @font-face {
    font-family: '29LT Bukra';
    src: url('../fonts/29LTBukra-Bold.eot');
    src: url('../fonts/29LTBukra-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/29LTBukra-Bold.woff2') format('woff2'),
        url('../fonts/29LTBukra-Bold.woff') format('woff'),
        url('../fonts/29LTBukra-Bold.ttf') format('truetype'),
        url('../fonts/29LTBukra-Bold.svg#29LTBukra-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  
  
  @font-face {
    font-family: '29LT Bukra';
    src: url("../fonts/29LTBukra-Regular.eot");
    src: url("../fonts/29LTBukra-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-Regular.woff2") format("woff2"), url("../fonts/29LTBukra-Regular.woff") format("woff"), url("../fonts/29LTBukra-Regular.ttf") format("truetype"), url("../fonts/29LTBukra-Regular.svg#29LTBukra-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: '29LT Bukra';
    src: url("../fonts/29LTBukra-Light.eot");
    src: url("../fonts/29LTBukra-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-Light.woff2") format("woff2"), url("../fonts/29LTBukra-Light.woff") format("woff"), url("../fonts/29LTBukra-Light.ttf") format("truetype"), url("../fonts/29LTBukra-Light.svg#29LTBukra-Light") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

$maincolor:#2da9db;
$primarycolor:#054b7e;

* {
    font-family: "29LT Bukra";
  }
  
  body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
    font-size: 12px;
    text-align: right;
    background:  #fff;
  }
  
  
  ul, ol {
    list-style: none;
    padding-right: 0
    }


.btn{
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.75;

  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 0.65rem 1.75rem;

  border-radius: 0.375rem;
  -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

    header{

    nav{
      .navbar-brand{
        img{
          height: 100px;
        }
      }
      .nav-link{
        font-weight: 600;
        font-size: 14px;
        color: #fff;
      }
  
      .btn-primary{
        color: #ffffff;
    background-color: #31aadd;
    border-color: #31aadd;
      }
  
      .btn-secondary{
        color: #fff;
        background-color: #0b71c0;
        border-color: #0b71c0;
      }
      }

      
    }


.main-portal-header {
 padding-bottom: 20px;
 height: 130px;
 -webkit-transition: all 0.5s ease;
 -moz-transition: position 10s;
 -ms-transition: position 10s;
 -o-transition: position 10s;
 transition: all 0.5s ease;
}
.main-portal-header {
  img{
    filter: brightness(0) invert(1);
  }
}


.sticky-top-header {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 99999999999;
 width: 100%;
 height: 120px;
 padding-bottom: 0;
 padding-top: 0;
 background: #fff;
 animation: smoothScroll 1s forwards;
 box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
  .nav-link{
  font-weight: 600;
  font-size: 14px;
  color: #071c4d;
}


img{
  filter:none;
  -webkit-filter:none;


  
}

}

@keyframes smoothScroll {
 0% {
     transform: translateY(-95px);
 }

 100% {
     transform: translateY(0px);
 }
}



.sticky-top-header a:before,
.sticky-top-header a:after {
 background-color: #fff !important;
}


    .hero-section{
    padding: 120px 0;
    margin-top: -130px;
    width: 100%;
    height: 100vh;
   z-index: 9;
   background: -webkit-gradient(linear, left top, right top, from(#054b7e), to($primarycolor)) !important;
   background: linear-gradient(90deg, #071c4d, $primarycolor) !important;
color:#fff;
display: flex;
align-items: center;

.overlaydiv{
  background: #0b71c07a;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index:999;
 
}
iframe{
  height: 100vh;
}
.bluesquare {
  animation: MoveUp 8s linear infinite;
  display: block;
  position: absolute;
  bottom: 50%;
  right: auto;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #1675aa;
  transform: rotate(20deg);
  z-index: 999999;
}
.leftsquare {
  animation: MoveUpDown 5s linear infinite;
  display: block;
  position: absolute;
  bottom: 30%;
  right: auto;
  left: 60px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: rgba(255, 255, 255,0.07);
  transform: rotate(20deg);
}

.rightsquare{
  //animation: MoveUpDown 5s linear infinite;
  display: block;
  position: absolute;
  bottom: 30%;
  right: -150px;
  left:auto ;
  width: 300px;
  height: 300px;
  transform: rotate(-47deg);
  img
{
    width: 450px;
    height: 450px;
  }
}


@keyframes MoveUpDown {
	0%, 100% {
		bottom: 80px;
	}
	50% {
		bottom: 50px;
	}
}
@keyframes MoveUp {
	0%, 100% {
		top: 70%;
	}
	50% {
		top: 85%;
	}
}

.rightarea{

  h1{
    font-weight: bold;
    font-size: 70px;
  }
  p{
    line-height: 1.9;
    font-size: 18px;
    text-align: justify;
    color: #d9d9d9;
  }
     .watchvideo{
      background-color: #0a63a9;
      color: #ffffff;
     }
.btn-secondary{
  color:#fff;
  &:hover{
    background-color: transparent;
  }




}

}
  }


.video-relative{
  color:#fff;
}
.video-btn i {
  color: #121a2f;
  font-size: 13px;
  line-height: 50px;
  margin-left: 4px;
}

.video-btn {
  height: 47px;
  width: 47px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  margin-right: 10px;
  text-align: center;
  border-radius: 100px;
  z-index: 1
}

.orangebg {
  border: 1px solid #fff;
}

.video-btn .ripple {
  position: absolute;
  width: 110px;
  height: 110px;
  z-index: -1;
  left: 50%;
  top: 50%;
  opacity: 0;
  margin: -55px 0 0 -55px;
  border-radius: 100px;
  -webkit-animation: ripple 1.8s infinite;
  animation: ripple 1.8s infinite
}

@-webkit-keyframes ripple {
  0% {
      opacity: 1;
      -webkit-transform: scale(0);
      transform: scale(0)
  }
  100% {
      opacity: 0;
      -webkit-transform: scale(1);
      transform: scale(1)
  }
}

@keyframes ripple {
  0% {
      opacity: 1;
      -webkit-transform: scale(0);
      transform: scale(0)
  }
  100% {
      opacity: 0;
      -webkit-transform: scale(1);
      transform: scale(1)
  }
}

.video-btn .ripple:nth-child(2) {
  animation-delay: .4s;
  -webkit-animation-delay: .4s
}

.video-btn .ripple:nth-child(3) {
  animation-delay: .7s;
  -webkit-animation-delay: .7s
}


.videomodal{
  .modal-content{
    background-color: #2a346b;
    .modal-header{
      border-bottom: none;
      flex-direction: row-reverse;
      .close{
        float: left;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: none;
    opacity: 1;
    margin: auto -1rem -1rem -1rem;
      }
    }
    iframe{
      width: 100%;
      height: 500px;
    }
  }

  
}

iframe{
  width: 100%;
  height: 500px;
}

section{
  padding: 120px 0 !important;
  .title{
    margin-bottom: 30px;
      h3{
        font-size: 30px !important;
        font-weight: bold;
        color: $primarycolor !important;
        text-align: center;
        
      }
      p{
        text-align: center;
        font-size: 14px;
        width: 700px;
        line-height: 1.9;
      }
  
    }
   
}

.services{
  padding: 120px 0;

  .title{
  margin-bottom: 30px;
    h3{
      font-size: 50px;
      font-weight: bold;
      color: $primarycolor;
      text-align: center;
      
    }
    p{
      text-align: center;
      font-size: 14px;
      width: 700px;
      line-height: 1.9;
    }

  }
 



  .serv{
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 #f6f6fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    position: relative;
    transition: transition-duration, 0.8s ease !important;
    // &:after{
    //   content:'';
    //   height: 20px;
    //   width: 20px;
    //   background: $primarycolor;
    //   position:absolute;
    //   right: 0;
     
    // }
    h3{
      font-size: 20px;
      font-weight: bold;
      color: $primarycolor;
    }
    p{
      width: auto;
      font-size: 14px;
      line-height: 1.9;
    }
    .more{
      border: 1px solid $primarycolor;
      color:$primarycolor;
    }
        .sevimage{
          height: 70px;
          width: 70px;
          background: #eef3ff;
          padding: 15px;
          display: flex;
          align-items: center;
          border-radius: 50%;
          margin-bottom: 20px;
          justify-content: center;
          i{
            font-size: 20px;
            color: $primarycolor;
          }
    }
    // &:hover{
    //   background: $primarycolor;
    //   &:after{
    //     content:'';
    //     height: 20px;
    //     width: 20px;
    //     background: #fff;
    //     position:absolute;
    //     right: 0;
       
    //   }
    //   .more{
    //     border: 1px solid #fff;
    //     color:#fff;
    //   }
    //   h3{
    //     color:#fff;
    //   }
    //   p{
    //     color:#fff;
    //   }
    // }
  }
}

.vision {

  padding: 0;
  .vision{
    padding: 20px;
    border-radius: 15px;
    background: url(../img/ItqanLogo.svg) $maincolor;
    
    background-size: 138px;
    background-position: 0 170px;
    
    background-repeat: no-repeat;
    min-height:300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0;
    position: relative;
    align-items: start;
      img{
        height: 50px;
        margin-bottom: 10px;
        filter: brightness(0) invert(1);
       
      }
     
      h3{
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }
      p{
        font-size: 14px;
        line-height: 2.5;
        color: #fff;
      }
   ul{
    li{
      font-size: 14px;
      line-height: 2.5;
      color: #fff;
      i{
        font-size: 14px;
        color: #2da9db;
        margin-left: 5px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        background-color: #ffffff;
      }
    }
   }
  }
 .solutions{


  background: url(../img/ItqanLogo.svg) $primarycolor;
  background-size: 138px;
  background-position: 0 170px;
  background-repeat: no-repeat;


 }
}

.whyitqan{
  @extend .services;

  margin-top: 50px;
  .ques{
   h3{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    color: $maincolor;
   }
  }

  .why{
    padding:15px;
    border-radius: 15px;
    background-color: #fff;
    -webkit-box-shadow: 0 5px 20px 0 #f6f6fc;
    box-shadow: 0 5px 20px 0 #f6f6fc;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    position: relative;
    .image{
      height: 70px;
      width: 70px;
      background: #d0e6f7;
      padding: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 20px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      i{
        font-size: 25px;
        color: #1fa1dd;
      }
    
}
      .title{
        font-size: 14px;
        margin: 0;
        color: #1f2020;
        text-align: center;
        line-height: 1.9;
        font-weight: 600;

      }
  }

}

.packages{
  padding: 120px 0;

  background-position: center center;
  background-image: url("../img/packages.png"), linear-gradient(87deg, rgba(45,169,219,1) 0%, rgba(41,74,122,1) 100%);
  background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    h3{
      color:#fff !important;
    }
    p{
      color:#fff;
    }
    .package_category{

      border-radius: 15px;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 10px 0;
      position: relative;
      -webkit-transition: 0.8s ease, -webkit-transition-duration !important;
      transition: 0.8s ease, -webkit-transition-duration !important;
      transition: transition-duration, 0.8s ease !important;
      transition: transition-duration, 0.8s ease, -webkit-transition-duration !important;
      padding: 0 0 20px 0;
      .maintitle{
        color:#fff;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        background: $maincolor;
        padding: 15px;
        width: 100%;
        border-radius: 15px 15px 0 0;

   }
   .price{
    border-bottom: 1px solid #ebe8e8;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    font-weight: 900;
    font-weight: bold;

   }
   .cat{
    border-bottom: 1px solid #ebe8e8;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    font-weight: 900;
    font-weight: bold;
   }
   .dayes{
    border-bottom: 1px solid #ebe8e8;
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding: 15px;
    font-weight: bold;
    color:$maincolor;
   }
   p{
    font-size: 14px;
    line-height: 1.9;
    color: #000 !important;
    padding: 15px;
    text-align: center;
    margin: 0;
    padding-bottom: 0;
   }
   .btn-primary{
    border: none;
    color: #fff;
    background: linear-gradient(157deg, #2da9db 26%, #294a7a 87%);
    
  }
    }
    ul{
      list-style: none;
      font-size: 16px;
    line-height: 1.9;
    color: #000 !important;
    padding: 15px;
    text-align: center;

    }
    li{
      font-size: 14px;
      width: 100%;
      display: flex;
      margin-bottom: 15px;
      i{
 
    font-size: 14px;
    color: #3283fd;
    margin-left: 5px;

    transition: all 0.3s ease-in-out;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #e9eeff;
      }
    }
}


.profissional{
  .maintitle{
    background: $primarycolor !important;
  
  }
  .dayes{
    color:$primarycolor !important;
  }

}

.elite{
  .maintitle{
    background: #d2d2d2 !important;
    color: #000 !important;
  }
  .cat{
    color: #9d9d9d;
  }
  .dayes{
    color: #9d9d9d !important;
  }
 
}

.numbers{
  padding: 120px 0;
  background-color: #f8f9fa !important;
  .counter{
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 5px 20px 0 #f6f6fc;
    display: flex;
    margin: 10px;
    position: relative;
    flex-direction: column;
    align-items: center;
    .count-number{
      font-weight: bolder;
      font-size: 40px;
      color: $maincolor;
      margin: 10px;
    }
    .image{
      height: 70px;
    width: 70px;
    background: #eef3ff;
    padding: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    i{
      color: $maincolor;

    }
    }
    .count-text {
      font-weight: bold;
      font-size: 16px;
  }
  }

 
}

.newsletter{
  padding: 120px 0;
  .form-group {
    position: relative;
    margin-bottom: 0;
    input {
      height: 60px;
      background: #FFFFFF 0% 0% no-repeat padding-box;
      border: 1px solid #97A1B2;
      border-radius: 30px;
      padding: 0 25px 0 38px;
  font-size: 14px;
      letter-spacing: 0.45px;
      color: #97A1B2;
  }
  .subcribe-submit {
    position: absolute;
    left: 3px;
    top: 3px;
    height: 54px;
    line-height: 56px !important;
    padding: 0 39px;
    font-size: 17px;
    letter-spacing: 1.02px;
    color: #fff;
    text-transform: uppercase;
    line-height: 24px;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    transition: all 0.3s ease-in;
    border: 0 !important;
    font-weight: 600;
}
.btn-green {
  background: $primarycolor;
  box-shadow: 0px 11px 14px rgba(11, 113, 192,0.1);
  color: #fff;
}
}

}

.contact_us{
  padding: 120px 0;
  background-color: $primarycolor;
  background-image: url(../img/contactus.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

.contactdetails{
    h3{
      font-weight: 600;
      font-size:18px;
      color:#fff;
      margin-bottom: 20px;
    }
    .contbox{
      background: #fff;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 15px;
      padding: 15px;
      display: flex;
      align-items: center;
      margin-bottom:20px;
      .image{
        height: 70px;
        width: 70px;
        margin-left: 10px;
        background: $primarycolor;
        padding: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        border-radius: 50%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        i{
          font-size: 35px;
          color: #ffffff;
        }
    }
    .title{
      font-weight: 600;
      font-size: 14px;
      color:#fff;
      margin: 0;
    }
    }
}

  .formcont{
    border-radius: 15px;
  h3{
    font-weight: 600;
    font-size: 16px;
  }
    
  }

  .btn-primardy {
    color: #fff;
    background-color:$primarycolor !important;
    border-color:$primarycolor !important;
}
}

footer{
  padding: 120px 0;
  .logo{
    img{
      height:150px;
    }
  }
  .tittle{
    font-weight: 600;
    color: $primarycolor;
    font-size: 18px;
  }
  li{
    padding: 10px 0;
    a{
      font-size: 14px;
      color:#000;
    }
  }
}

.subfooter{
  background: $primarycolor;
padding: 20px;
h4{
  font-size: 12px;
  color:#fff;
  margin: 0;
}
  i{
    font-size: 20px;
    color:#fff;
  }
}

.progre{
  padding: 120px 0;
    background-color: #f8f9fa !important;
    img{
      mix-blend-mode: darken;
    }
}


.btn-primary:hover{
  color: #fff !important;
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
  //border:1px solid black;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {

    border-radius: 15px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    position: relative;
    -webkit-transition: 0.8s ease, -webkit-transition-duration !important;
    transition: 0.8s ease, -webkit-transition-duration !important;
    transition: transition-duration, 0.8s ease !important;
    transition: transition-duration, 0.8s ease, -webkit-transition-duration !important;

}


.flipper {
	transition: .6s;
	transform-style: preserve-3d;
	width: 100%;
	height: 300px;
	position: relative;
  box-shadow: 0 5px 20px 0 #ebebf3 !important;
  cursor: pointer;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}



.front, .back {
	backface-visibility: hidden;
	width: 100%;
	height: 300px;
	position: absolute;
	top: 0;
	left: 0;
  padding: 20px;
}

.front {
  background-color:#fff;
	z-index: 2;
  align-items: center;
  justify-content: center;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
  background-color:$primarycolor;
  background: linear-gradient(87deg, #2da9db 0%, #294a7a 100%);
  p{
    color:#fff;
    text-align: justify;
  }
  .more {
    border: 1px solid #fff !important;
    color: #fff !important;
}
}

.herobtn{
  left:  50%;
  bottom: 10%;
  position:absolute;
  z-index: 9999;
  color: #ffffff;
  background-color: #31aadd;
  border-color: #31aadd;
  font-family: '29LT Bukra';
  display: none;
  &:hover{
    color:#fff;
   background: $maincolor;
    border-color: $maincolor;
  }
}

.solutionss{
  background-color: green;
}



.slide{
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0 #f6f6fc;
  box-shadow: 0 5px 20px 0 #f6f6fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  position: relative;
  -webkit-transition: 0.8s ease, -webkit-transition-duration !important;
  transition: 0.8s ease, -webkit-transition-duration !important;
  transition: transition-duration, 0.8s ease !important;
  transition: transition-duration, 0.8s ease, -webkit-transition-duration !important;
img{
  height: 100px;
  margin: 0 auto;
}
 }

 .whyitqanNewbg{

  background-attachment: fixed;
    background-color: $primarycolor;
    background-image: url(../img/ItqanLogo.svg);
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 280px;
    overflow: hidden;
    position: relative;
    .title{
      h3{
        color:#fff !important;
      }
    }
    .why{
      box-shadow: none;
  
    }
 }


 .card-wrapper {
  // display: inline-block;
  perspective: 1000px;
}
.card-wrapper .card {
  position: relative;
  cursor: pointer;
  transition-duration: 0.6s;
  transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
  width: 100%;
  height: 300px;
  border: none;
}
.card-wrapper .card .front,
.card-wrapper .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}
.card-wrapper .card .front {
  z-index: 2;
}
.card-wrapper .card .back,
.card-wrapper.flip-right .card .back {
  transform: rotateY(180deg);
}
.card-wrapper:hover .card,
.card-wrapper.flip-right:hover .card {
  transform: rotateY(180deg);
}
.card-wrapper.flip-left .card .back {
  transform: rotateY(-180deg);
}
.card-wrapper.flip-left:hover .card {
  transform: rotateY(-180deg);
}
.card-wrapper.flip-up .card .back {
  transform: rotateX(180deg);
}
.card-wrapper.flip-up:hover .card {
  transform: rotateX(180deg);
}
.card-wrapper.flip-down .card .back {
  transform: rotateX(-180deg);
}
.card-wrapper.flip-down:hover .card {
  transform: rotateX(-180deg);
}
.card-wrapper.flip-diagonal-right .card .back {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card-wrapper.flip-diagonal-right:hover .card {
  transform: rotate3d(1, 1, 0, 180deg);
}
.card-wrapper.flip-diagonal-left .card .back {
  transform: rotate3d(1, 1, 0, -180deg);
}
.card-wrapper.flip-diagonal-left:hover .card {
  transform: rotate3d(1, 1, 0, -180deg);
}
.card-wrapper.flip-inverted-diagonal-right .card .back {
  transform: rotate3d(-1, 1, 0, 180deg);
}
.card-wrapper.flip-inverted-diagonal-right:hover .card {
  transform: rotate3d(-1, 1, 0, 180deg);
}
.card-wrapper.flip-inverted-diagonal-left .card .back {
  transform: rotate3d(1, -1, 0, 180deg);
}
.card-wrapper.flip-inverted-diagonal-left:hover .card {
  transform: rotate3d(1, -1, 0, 180deg);
}




.how-wrap {
  width: 154px;
  display: grid;
  position: relative;
}

.how-wrap h4 {
font-size: 14px;
  color: #0f5d8c;
  line-height: 18px;
  margin: 15px 0;
  font-weight: bold;
}

.how-wrap .circle-wrap {
position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  border: 5px solid #2d7cac;
  background: #fff;
}
.how-wrap .circle-wrap
.how-wrap .stepNumber {
  width: 26px;
  height: 26px;
  line-height: 24px;
  background-color: #0f5c89;
  border: 2px solid #fff;
  color: #fff;
  font-size: 13px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin-left: -12px;
}


.how-wrap .how-img {
position: relative;
top: 28px;
}
.how-wrap .how-img img {
  height: 47px;
}

.col-md-12 .how-wrap:nth-child(odd) h4 {
  order: 2;
}

.col-md-12 .how-wrap:nth-child(odd) .circle-wrap {
  order: 1;
}

.stepNumber{
  background: linear-gradient(157deg, #2da9db 26%, #294a7a 87%);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: 20px;
  height: 20px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  right: 34%;
  margin: 0 auto;
  position: absolute;
  bottom: -18px;
}

.how-wrap .circle-wrap .topnumber {
  top: -18px;
  position: absolute;

}

.how-wrap:before {
  content: "";
  height: 100px;
  width: 5px;
  background-color: #bccbd4;
  position: absolute;
  left: 0;
  top: 25%;
}
.col-md-12 .how-wrap:nth-child(odd):before{
  transform: rotate(60deg);
}
.col-md-12 .how-wrap:nth-child(even):before{
  transform: rotate(115deg);
}
.col-md-12 .how-wrap:last-child:before{
  display:none
}


.how-wrap ul {
  position: absolute;
  bottom: -72px;
  text-align: right;
  font-size: 14px;
  padding: 0;
  margin: 0 25px 0 0;
  color: #115d88;
}

.internalhero{
  margin: 0;
  height: 100vh;
  overflow: hidden;
  .container{
    z-index: 99999;
    margin-top: 40px;
    h3{
      font-weight: 700;
        font-size: 58px;
        border-bottom: 5px solid #0a71c0;
        padding-bottom: 10px;
        display: inline-block;
    }
    p{
      text-align: justify;
    font-size: 14px;
    width: 700px;
    line-height: 1.9;
    width: 100%;

    }
  }
   
  .overlaydiv{
    background: rgba(8, 8, 8, 0.8);
    height: 100vh;
  }
  img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
  }
}
.aboutsection{
  padding-bottom: 20px !important;
.contentright{
  h3{
    font-size: 30px !important;
    font-weight: bold;
    color: #054b7e !important;
  }
  p{
    text-align: justify;
    font-size: 14px;
    width: 700px;
    line-height: 1.9;
    width: 100%;
  }
}
  .contentimg{
   img{
    width: 100%;
   }
  }
}
.internalservice{
  padding-top: 0 !important;
}
.internaiabout{
  background-image: url(../img/vision.jpeg);
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    .vision{
      text-align: center;
      color:#fff;
      .maintitle{
        font-weight: 700;
        color:#fff;
      }
      img{
        height: 100px;
        filter: brightness(0) invert(1);
        margin-bottom: 20px;
      }
      p{
        line-height: 2.5;
      }
    }
}

.rigester{
  h3{
    font-size: 30px !important;
    font-weight: bold;
    color: $maincolor !important;
  }
  h4{
    font-size: 16px !important;
    font-weight: bold;
    color: #000 !important;
  }
  form{
margin-top: 20px;
    background: #f4f4f4;
    padding: 15px;
    border: 1px solid #d3d3d3;
    .form-group{
      margin: 10px;
    }
    label{
      font-size: 14px;
      font-weight: 700;
    }
 
    .btn-secondary{
      background-color: $maincolor;
      border-color: $maincolor;
    }
  }
  .conditions{
    padding: 15px;
    background: #fafafa;
    border-top: 1px solid #31aadd;
    margin-top: 20px;
    h5{
      font-size: 16px;
      font-weight: 700;
      color:$primarycolor;
  
    }
    p{
      font-size: 16px;
      line-height: 1.9;
      margin-bottom: 0;
    }
  }
 .table{
  font-size: 14px;
text-align: center;
  th{
    background-color: $primarycolor;
    color: #fff;

  }
  .second{
    background-color: $maincolor;
    color: #fff;
  }
  .third{
    background-color: #d9d9d9;
  }
  i{
    font-size: 20px;
  }
  .fa-circle-check{
    color: #4caf50;
  }
  .fa-circle-xmark{
    color: #ff5722;
  }
 }
}
.condition{
  text-decoration: underline;
  margin-right: 20px;
  color: #ff4100;
  font-size: 16px;
  font-weight: 700;
}


.border-left-1{
  border-left: 1px solid #f6f6f6;
  padding-left: 15px;
}