@font-face {
  font-family: '29LT Bukra';
  src: url("../fonts/29LTBukra-Bold.eot");
  src: url("../fonts/29LTBukra-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-Bold.woff2") format("woff2"), url("../fonts/29LTBukra-Bold.woff") format("woff"), url("../fonts/29LTBukra-Bold.ttf") format("truetype"), url("../fonts/29LTBukra-Bold.svg#29LTBukra-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '29LT Bukrabold';
  src: url("../fonts/29LTBukra-BoldItalic.eot");
  src: url("../fonts/29LTBukra-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-BoldItalic.woff2") format("woff2"), url("../fonts/29LTBukra-BoldItalic.woff") format("woff"), url("../fonts/29LTBukra-BoldItalic.ttf") format("truetype"), url("../fonts/29LTBukra-BoldItalic.svg#29LTBukra-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: '29LT Bukra';
  src: url("29LTBukra-Black.eot");
  src: url("29LTBukra-Black.eot?#iefix") format("embedded-opentype"), url("29LTBukra-Black.woff2") format("woff2"), url("29LTBukra-Black.woff") format("woff"), url("29LTBukra-Black.ttf") format("truetype"), url("29LTBukra-Black.svg#29LTBukra-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '29LT Bukra';
  src: url("../fonts/29LTBukra-Bold.eot");
  src: url("../fonts/29LTBukra-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-Bold.woff2") format("woff2"), url("../fonts/29LTBukra-Bold.woff") format("woff"), url("../fonts/29LTBukra-Bold.ttf") format("truetype"), url("../fonts/29LTBukra-Bold.svg#29LTBukra-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '29LT Bukra';
  src: url("../fonts/29LTBukra-Regular.eot");
  src: url("../fonts/29LTBukra-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-Regular.woff2") format("woff2"), url("../fonts/29LTBukra-Regular.woff") format("woff"), url("../fonts/29LTBukra-Regular.ttf") format("truetype"), url("../fonts/29LTBukra-Regular.svg#29LTBukra-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '29LT Bukra';
  src: url("../fonts/29LTBukra-Light.eot");
  src: url("../fonts/29LTBukra-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/29LTBukra-Light.woff2") format("woff2"), url("../fonts/29LTBukra-Light.woff") format("woff"), url("../fonts/29LTBukra-Light.ttf") format("truetype"), url("../fonts/29LTBukra-Light.svg#29LTBukra-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "29LT Bukra";
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-size: 12px;
  text-align: right;
  background: #fff;
}

ul, ol {
  list-style: none;
  padding-right: 0;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.75;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.65rem 1.75rem;
  border-radius: 0.375rem;
  -webkit-transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
}

header nav .navbar-brand img {
  height: 100px;
}

header nav .nav-link {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
}

header nav .btn-primary {
  color: #ffffff;
  background-color: #31aadd;
  border-color: #31aadd;
}

header nav .btn-secondary {
  color: #fff;
  background-color: #0b71c0;
  border-color: #0b71c0;
}

.main-portal-header {
  padding-bottom: 20px;
  height: 130px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.main-portal-header img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.sticky-top-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999999;
  width: 100%;
  height: 120px;
  padding-bottom: 0;
  padding-top: 0;
  background: #fff;
  -webkit-animation: smoothScroll 1s forwards;
          animation: smoothScroll 1s forwards;
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
          box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.sticky-top-header .nav-link {
  font-weight: 600;
  font-size: 14px;
  color: #071c4d;
}

.sticky-top-header img {
  filter: none;
  -webkit-filter: none;
}

@-webkit-keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-95px);
            transform: translateY(-95px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes smoothScroll {
  0% {
    -webkit-transform: translateY(-95px);
            transform: translateY(-95px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.sticky-top-header a:before,
.sticky-top-header a:after {
  background-color: #fff !important;
}

.hero-section {
  padding: 120px 0;
  margin-top: -130px;
  width: 100%;
  height: 100vh;
  z-index: 9;
  background: -webkit-gradient(linear, left top, right top, from(#071c4d), to(#054b7e)) !important;
  background: linear-gradient(90deg, #071c4d, #054b7e) !important;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .overlaydiv {
  background: #0b71c07a;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 999;
}

.hero-section iframe {
  height: 100vh;
}

.hero-section .bluesquare {
  -webkit-animation: MoveUp 8s linear infinite;
          animation: MoveUp 8s linear infinite;
  display: block;
  position: absolute;
  bottom: 50%;
  right: auto;
  left: 40px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: transparent;
  border: 1px solid #1675aa;
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
  z-index: 999999;
}

.hero-section .leftsquare {
  -webkit-animation: MoveUpDown 5s linear infinite;
          animation: MoveUpDown 5s linear infinite;
  display: block;
  position: absolute;
  bottom: 30%;
  right: auto;
  left: 60px;
  width: 200px;
  height: 200px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.07);
  -webkit-transform: rotate(20deg);
          transform: rotate(20deg);
}

.hero-section .rightsquare {
  display: block;
  position: absolute;
  bottom: 30%;
  right: -150px;
  left: auto;
  width: 300px;
  height: 300px;
  -webkit-transform: rotate(-47deg);
          transform: rotate(-47deg);
}

.hero-section .rightsquare img {
  width: 450px;
  height: 450px;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 80px;
  }
  50% {
    bottom: 50px;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 80px;
  }
  50% {
    bottom: 50px;
  }
}

@-webkit-keyframes MoveUp {
  0%, 100% {
    top: 70%;
  }
  50% {
    top: 85%;
  }
}

@keyframes MoveUp {
  0%, 100% {
    top: 70%;
  }
  50% {
    top: 85%;
  }
}

.hero-section .rightarea h1 {
  font-weight: bold;
  font-size: 70px;
}

.hero-section .rightarea p {
  line-height: 1.9;
  font-size: 18px;
  text-align: justify;
  color: #d9d9d9;
}

.hero-section .rightarea .watchvideo {
  background-color: #0a63a9;
  color: #ffffff;
}

.hero-section .rightarea .btn-secondary {
  color: #fff;
}

.hero-section .rightarea .btn-secondary:hover {
  background-color: transparent;
}

.video-relative {
  color: #fff;
}

.video-btn i {
  color: #121a2f;
  font-size: 13px;
  line-height: 50px;
  margin-left: 4px;
}

.video-btn {
  height: 47px;
  width: 47px;
  text-align: center;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  margin-right: 10px;
  text-align: center;
  border-radius: 100px;
  z-index: 1;
}

.orangebg {
  border: 1px solid #fff;
}

.video-btn .ripple {
  position: absolute;
  width: 110px;
  height: 110px;
  z-index: -1;
  left: 50%;
  top: 50%;
  opacity: 0;
  margin: -55px 0 0 -55px;
  border-radius: 100px;
  -webkit-animation: ripple 1.8s infinite;
  animation: ripple 1.8s infinite;
}

@-webkit-keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes ripple {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.video-btn .ripple:nth-child(2) {
  animation-delay: .4s;
  -webkit-animation-delay: .4s;
}

.video-btn .ripple:nth-child(3) {
  animation-delay: .7s;
  -webkit-animation-delay: .7s;
}

.videomodal .modal-content {
  background-color: #2a346b;
}

.videomodal .modal-content .modal-header {
  border-bottom: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.videomodal .modal-content .modal-header .close {
  float: left;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  margin: auto -1rem -1rem -1rem;
}

.videomodal .modal-content iframe {
  width: 100%;
  height: 500px;
}

iframe {
  width: 100%;
  height: 500px;
}

section {
  padding: 120px 0 !important;
}

section .title {
  margin-bottom: 30px;
}

section .title h3 {
  font-size: 30px !important;
  font-weight: bold;
  color: #054b7e !important;
  text-align: center;
}

section .title p {
  text-align: center;
  font-size: 14px;
  width: 700px;
  line-height: 1.9;
}

.services, .whyitqan {
  padding: 120px 0;
}

.services .title, .whyitqan .title {
  margin-bottom: 30px;
}

.services .title h3, .whyitqan .title h3 {
  font-size: 50px;
  font-weight: bold;
  color: #054b7e;
  text-align: center;
}

.services .title p, .whyitqan .title p {
  text-align: center;
  font-size: 14px;
  width: 700px;
  line-height: 1.9;
}

.services .serv, .whyitqan .serv {
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0 #f6f6fc;
          box-shadow: 0 5px 20px 0 #f6f6fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  position: relative;
  -webkit-transition: 0.8s ease, -webkit-transition-duration !important;
  transition: 0.8s ease, -webkit-transition-duration !important;
  transition: transition-duration, 0.8s ease !important;
  transition: transition-duration, 0.8s ease, -webkit-transition-duration !important;
}

.services .serv h3, .whyitqan .serv h3 {
  font-size: 20px;
  font-weight: bold;
  color: #054b7e;
}

.services .serv p, .whyitqan .serv p {
  width: auto;
  font-size: 14px;
  line-height: 1.9;
}

.services .serv .more, .whyitqan .serv .more {
  border: 1px solid #054b7e;
  color: #054b7e;
}

.services .serv .sevimage, .whyitqan .serv .sevimage {
  height: 70px;
  width: 70px;
  background: #eef3ff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .serv .sevimage i, .whyitqan .serv .sevimage i {
  font-size: 20px;
  color: #054b7e;
}

.vision {
  padding: 0;
}

.vision .vision {
  padding: 20px;
  border-radius: 15px;
  background: url(../img/ItqanLogo.svg) #2da9db;
  background-size: 138px;
  background-position: 0 170px;
  background-repeat: no-repeat;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px 0;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.vision .vision img {
  height: 50px;
  margin-bottom: 10px;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.vision .vision h3 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.vision .vision p {
  font-size: 14px;
  line-height: 2.5;
  color: #fff;
}

.vision .vision ul li {
  font-size: 14px;
  line-height: 2.5;
  color: #fff;
}

.vision .vision ul li i {
  font-size: 14px;
  color: #2da9db;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #ffffff;
}

.vision .solutions {
  background: url(../img/ItqanLogo.svg) #054b7e;
  background-size: 138px;
  background-position: 0 170px;
  background-repeat: no-repeat;
}

.whyitqan {
  margin-top: 50px;
}

.whyitqan .ques h3 {
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
  color: #2da9db;
}

.whyitqan .why {
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0 #f6f6fc;
  box-shadow: 0 5px 20px 0 #f6f6fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  position: relative;
}

.whyitqan .why .image {
  height: 70px;
  width: 70px;
  background: #d0e6f7;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.whyitqan .why .image i {
  font-size: 25px;
  color: #1fa1dd;
}

.whyitqan .why .title {
  font-size: 14px;
  margin: 0;
  color: #1f2020;
  text-align: center;
  line-height: 1.9;
  font-weight: 600;
}

.packages {
  padding: 120px 0;
  background-position: center center;
  background-image: url("../img/packages.png"), linear-gradient(87deg, #2da9db 0%, #294a7a 100%);
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.packages h3 {
  color: #fff !important;
}

.packages p {
  color: #fff;
}

.packages .package_category {
  border-radius: 15px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  position: relative;
  -webkit-transition: 0.8s ease, -webkit-transition-duration !important;
  transition: 0.8s ease, -webkit-transition-duration !important;
  transition: transition-duration, 0.8s ease !important;
  transition: transition-duration, 0.8s ease, -webkit-transition-duration !important;
  padding: 0 0 20px 0;
}

.packages .package_category .maintitle {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  background: #2da9db;
  padding: 15px;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.packages .package_category .price {
  border-bottom: 1px solid #ebe8e8;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  font-weight: 900;
  font-weight: bold;
}

.packages .package_category .cat {
  border-bottom: 1px solid #ebe8e8;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  font-weight: 900;
  font-weight: bold;
}

.packages .package_category .dayes {
  border-bottom: 1px solid #ebe8e8;
  width: 100%;
  font-size: 16px;
  text-align: center;
  padding: 15px;
  font-weight: bold;
  color: #2da9db;
}

.packages .package_category p {
  font-size: 14px;
  line-height: 1.9;
  color: #000 !important;
  padding: 15px;
  text-align: center;
  margin: 0;
  padding-bottom: 0;
}

.packages .package_category .btn-primary {
  border: none;
  color: #fff;
  background: linear-gradient(157deg, #2da9db 26%, #294a7a 87%);
}

.packages ul {
  list-style: none;
  font-size: 16px;
  line-height: 1.9;
  color: #000 !important;
  padding: 15px;
  text-align: center;
}

.packages li {
  font-size: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.packages li i {
  font-size: 14px;
  color: #3283fd;
  margin-left: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background-color: #e9eeff;
}

.profissional .maintitle {
  background: #054b7e !important;
}

.profissional .dayes {
  color: #054b7e !important;
}

.elite .maintitle {
  background: #d2d2d2 !important;
  color: #000 !important;
}

.elite .cat {
  color: #9d9d9d;
}

.elite .dayes {
  color: #9d9d9d !important;
}

.numbers {
  padding: 120px 0;
  background-color: #f8f9fa !important;
}

.numbers .counter {
  text-align: center;
  padding: 15px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0 #f6f6fc;
          box-shadow: 0 5px 20px 0 #f6f6fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.numbers .counter .count-number {
  font-weight: bolder;
  font-size: 40px;
  color: #2da9db;
  margin: 10px;
}

.numbers .counter .image {
  height: 70px;
  width: 70px;
  background: #eef3ff;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.numbers .counter .image i {
  color: #2da9db;
}

.numbers .counter .count-text {
  font-weight: bold;
  font-size: 16px;
}

.newsletter {
  padding: 120px 0;
}

.newsletter .form-group {
  position: relative;
  margin-bottom: 0;
}

.newsletter .form-group input {
  height: 60px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #97A1B2;
  border-radius: 30px;
  padding: 0 25px 0 38px;
  font-size: 14px;
  letter-spacing: 0.45px;
  color: #97A1B2;
}

.newsletter .form-group .subcribe-submit {
  position: absolute;
  left: 3px;
  top: 3px;
  height: 54px;
  line-height: 56px !important;
  padding: 0 39px;
  font-size: 17px;
  letter-spacing: 1.02px;
  color: #fff;
  text-transform: uppercase;
  line-height: 24px;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border: 0 !important;
  font-weight: 600;
}

.newsletter .form-group .btn-green {
  background: #054b7e;
  -webkit-box-shadow: 0px 11px 14px rgba(11, 113, 192, 0.1);
          box-shadow: 0px 11px 14px rgba(11, 113, 192, 0.1);
  color: #fff;
}

.contact_us {
  padding: 120px 0;
  background-color: #054b7e;
  background-image: url(../img/contactus.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.contact_us .contactdetails h3 {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 20px;
}

.contact_us .contactdetails .contbox {
  background: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.contact_us .contactdetails .contbox .image {
  height: 70px;
  width: 70px;
  margin-left: 10px;
  background: #054b7e;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contact_us .contactdetails .contbox .image i {
  font-size: 35px;
  color: #ffffff;
}

.contact_us .contactdetails .contbox .title {
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin: 0;
}

.contact_us .formcont {
  border-radius: 15px;
}

.contact_us .formcont h3 {
  font-weight: 600;
  font-size: 16px;
}

.contact_us .btn-primardy {
  color: #fff;
  background-color: #054b7e !important;
  border-color: #054b7e !important;
}

footer {
  padding: 120px 0;
}

footer .logo img {
  height: 150px;
}

footer .tittle {
  font-weight: 600;
  color: #054b7e;
  font-size: 18px;
}

footer li {
  padding: 10px 0;
}

footer li a {
  font-size: 14px;
  color: #000;
}

.subfooter {
  background: #054b7e;
  padding: 20px;
}

.subfooter h4 {
  font-size: 12px;
  color: #fff;
  margin: 0;
}

.subfooter i {
  font-size: 20px;
  color: #fff;
}

.progre {
  padding: 120px 0;
  background-color: #f8f9fa !important;
}

.progre img {
  mix-blend-mode: darken;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #0069d9 !important;
  border-color: #0062cc !important;
}

/* entire container, keeps perspective */
.flip-container {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-container, .front, .back {
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: 0.8s ease, -webkit-transition-duration !important;
  transition: 0.8s ease, -webkit-transition-duration !important;
  transition: transition-duration, 0.8s ease !important;
  transition: transition-duration, 0.8s ease, -webkit-transition-duration !important;
}

.flipper {
  -webkit-transition: .6s;
  transition: .6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 300px;
  position: relative;
  -webkit-box-shadow: 0 5px 20px 0 #ebebf3 !important;
          box-shadow: 0 5px 20px 0 #ebebf3 !important;
  cursor: pointer;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  transform-style: preserve-3d;
}

.front, .back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  width: 100%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.front {
  background-color: #fff;
  z-index: 2;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  background-color: #054b7e;
}

.back p {
  color: #fff;
  text-align: justify;
}

.back .more {
  border: 1px solid #fff !important;
  color: #fff !important;
}

.herobtn {
  left: 50%;
  bottom: 10%;
  position: absolute;
  z-index: 9999;
  color: #ffffff;
  background-color: #31aadd;
  border-color: #31aadd;
  font-family: '29LT Bukra';
  display: none;
}

.herobtn:hover {
  color: #fff;
  background: #2da9db;
  border-color: #2da9db;
}

.solutionss {
  background-color: green;
}

.slide {
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px 0 #f6f6fc;
  box-shadow: 0 5px 20px 0 #f6f6fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px;
  position: relative;
  -webkit-transition: 0.8s ease, -webkit-transition-duration !important;
  transition: 0.8s ease, -webkit-transition-duration !important;
  transition: transition-duration, 0.8s ease !important;
  transition: transition-duration, 0.8s ease, -webkit-transition-duration !important;
}

.slide img {
  height: 100px;
  margin: 0 auto;
}

.whyitqanNewbg {
  background-attachment: fixed;
  background-color: #054b7e;
  background-image: url(../img/ItqanLogo.svg);
  background-position: 90%;
  background-repeat: no-repeat;
  background-size: 280px;
  overflow: hidden;
  position: relative;
}

.whyitqanNewbg .title h3 {
  color: #fff !important;
}

.whyitqanNewbg .why {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.card-wrapper {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

.card-wrapper .card {
  position: relative;
  cursor: pointer;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: 100%;
  height: 300px;
  border: none;
}

.card-wrapper .card .front,
.card-wrapper .card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.card-wrapper .card .front {
  z-index: 2;
}

.card-wrapper .card .back,
.card-wrapper.flip-right .card .back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-wrapper:hover .card,
.card-wrapper.flip-right:hover .card {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-wrapper.flip-left .card .back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-wrapper.flip-left:hover .card {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card-wrapper.flip-up .card .back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.card-wrapper.flip-up:hover .card {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.card-wrapper.flip-down .card .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.card-wrapper.flip-down:hover .card {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.card-wrapper.flip-diagonal-right .card .back {
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
          transform: rotate3d(1, 1, 0, 180deg);
}

.card-wrapper.flip-diagonal-right:hover .card {
  -webkit-transform: rotate3d(1, 1, 0, 180deg);
          transform: rotate3d(1, 1, 0, 180deg);
}

.card-wrapper.flip-diagonal-left .card .back {
  -webkit-transform: rotate3d(1, 1, 0, -180deg);
          transform: rotate3d(1, 1, 0, -180deg);
}

.card-wrapper.flip-diagonal-left:hover .card {
  -webkit-transform: rotate3d(1, 1, 0, -180deg);
          transform: rotate3d(1, 1, 0, -180deg);
}

.card-wrapper.flip-inverted-diagonal-right .card .back {
  -webkit-transform: rotate3d(-1, 1, 0, 180deg);
          transform: rotate3d(-1, 1, 0, 180deg);
}

.card-wrapper.flip-inverted-diagonal-right:hover .card {
  -webkit-transform: rotate3d(-1, 1, 0, 180deg);
          transform: rotate3d(-1, 1, 0, 180deg);
}

.card-wrapper.flip-inverted-diagonal-left .card .back {
  -webkit-transform: rotate3d(1, -1, 0, 180deg);
          transform: rotate3d(1, -1, 0, 180deg);
}

.card-wrapper.flip-inverted-diagonal-left:hover .card {
  -webkit-transform: rotate3d(1, -1, 0, 180deg);
          transform: rotate3d(1, -1, 0, 180deg);
}
/*# sourceMappingURL=style.css.map */